name: CI Check

on:
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 9

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm install

      - name: Build Library
        run: pnpm run build

      - name: Build Demo
        working-directory: ./examples/demo
        run: |
          pnpm install
          pnpm run build

      - name: Lint Demo
        working-directory: ./examples/demo
        run: pnpm run lint
